<div class="credits">
  <div class="divider"></div>

  <div class="entry">Reporter: <br>Kevin Fagan • <a href="mailto:kfagan@sfchronicle.com">kfagan@sfchronicle.com</a> • <a href="https://twitter.com/KevinChron" target="_blank">@KevinChron</a></div>

  <div class="entry">Photographer:  <br>Lea Suzuki • <a href="mailto:lsuzuki@sfchronicle.com">lsuzuki@sfchronicle.com</a> • <a href = "https://instagram.com/LSUZUKI" target="_blank">@lsuzuki</a></div>

  <div class="entry">Interactive producers:  <br>Emma O'Neill • <a href="mailto:eoneill@sfchronicle.com">eoneill@sfchronicle.com</a> • <a href = "https://twitter.com/emmaruthoneill" target="_blank">@emmaruthoneill</a>
  <br>Lucio Villa • <a href="mailto:lvilla@sfchronicle.com">lvilla@sfchronicle.com</a> • <a href="https://twitter.com/luciovilla" target="_blank">@luciovilla</a>
  <br>Jackie Gu • <a href="mailto:jgu@sfchronicle.com">jgu@sfchronicle.com</a> • <a href="https://twitter.com/jqlngu" target="_blank">@jqlngu</a></div>

</div>
