<!doctype html>
<html>
  <head>
    <title><%= json.project.seo_title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="__sync_contentCategory" content="meterA">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">

    <%= !json.project.embedded ? t.include("partials/_paywall.html") : t.include("partials/_embedframe.html") %>

    <%= t.include("partials/_head.html") %>

  </head>

  <%= !json.project.embedded ? "<body>" : "<body is='responsive-body'>" %>

    <%= t.include("partials/_nav.html") %>

    <div class="top-container">

      <div class="division-background-img">
        <img src="http://ww2.hdnux.com/photos/61/64/55/<%=json.division.main_image[0].WcmID%>/5/2000x0.jpg"></img>
      </div>

      <div class="hed-wrapper">
        <h1 class="title"><%=json.division.Headline%></div>
        <h3 class="deck"><%=json.division.Deck%></div>
        <div class="author">Story by <a href="mailto:kfagan@sfchronicle.com">Kevin Fagan</a>, <span>photos by <a href="mailto:lsuzuki@sfchronicle.com">Lea Suzuki</a></span></div>
        <div class="date"><%=json.division.Date%></div>
      </div>

    </div>

    <div class="text">

      <% json.division.text.forEach(function(d,dIDX){ %>
        <% if (d.type == "text") { %>
          <p><%=d.value%></p>
        <% } else if (d.type == "image") { %>
          <div class="story-img <%= d.value[0].Size %>">
            <img src="http://ww2.hdnux.com/photos/61/64/55/<%= d.value[0].WcmID %>/5/2000x0.jpg">
            <div class="caption"><%= d.value[0].Caption %></div>
          </div>
        <% } else if (d.type == "infobox") { %>
          <%= t.include("partials/_infobox.html") %>
        <% } %>
      <% }); %>

    </div>
<!---
    <div class="sidebar-container">
      <div class="sidebar">
        <div class="icon-img">
          <img src="http://ww2.hdnux.com/photos/61/64/55/13126192/3/square_small.jpg">
        </div>
        <div class="icon-img">
          <img src="http://ww2.hdnux.com/photos/61/64/55/13126216/3/square_small.jpg">
        </div>
        <div class="icon-img">
          <img src="http://ww2.hdnux.com/photos/61/64/55/13126219/3/square_small.jpg">
        </div>
        <div class="icon-img">
          <img src="http://ww2.hdnux.com/photos/61/64/55/13126186/3/square_small.jpg">
        </div>
        <div class="icon-img">
          <img src="http://ww2.hdnux.com/photos/61/64/55/13126202/3/square_small.jpg">
        </div>
        <div class="icon-img">
          <img src="http://ww2.hdnux.com/photos/61/64/55/13126205/3/square_small.jpg">
        </div>
      </div>
    </div>
-->
    <div id="top-of-profiles"></div>
    <div class="profiles-container">

      <% for (var key in json.division.profiles[0]) { %>

        <% var obj = json.division.profiles[0][key]; %>

        <div class="profile" id="<%=key%>">

          <% obj.forEach(function(d,dIDX) { %>
            <% if (d.type == "Person") { %>
              <div class="name <%=d.value.split(/[, ]+/).pop().toLowerCase()%>"><%= d.value %></div>
            <% } else if (d.type == "image"){ %>
              <div class="lead-image">
                <img src="http://ww2.hdnux.com/photos/61/64/55/<%= d.value[0].WcmID %>/5/2000x0.jpg">
                <div class="caption"><%= d.value[0].Caption %></div>
              </div>
            <% } else if (d.type == "text"){ %>
              <p><%=d.value%></p>
            <% } %>
          <% }); %>
          <div class="map-container">
            <div class="map" id="map<%=key%>"></div>
            <div class="map-annotation" id="map-annotation-<%=key%>"></div>
          </div>

        </div>

      <% }; %>

    </div>
    <div id="bottom-of-profiles"></div>

    <div class="text">

      <% json.division.text2.forEach(function(d,dIDX){ %>
        <% if (d.type == "text") { %>
          <p><%=d.value%></p>
        <% } else if (d.type == "image") { %>
          <div class="story-img <%= d.value[0].Size %>">
            <img src="http://ww2.hdnux.com/photos/61/64/55/<%= d.value[0].WcmID %>/5/2000x0.jpg">
            <div class="caption"><%= d.value[0].Caption %></div>
          </div>
        <% } %>
      <% }); %>

    </div>

    <%= t.include("partials/_credits.html") %>
    <%= t.include("partials/_dontMiss.html") %>
    <%= t.include("partials/_footer.html") %>

    <script>
      var mapData = <%= JSON.stringify(json.map) %>
    </script>


    <script src="app.js" async></script>
    <%= t.include("partials/_helloSFC.html") %>

  </body>
</html>
