<!doctype html>
<html>
  <head>
    <title><%= json.project.seo_title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="__sync_contentCategory" content="meterA">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">

    <%= !json.project.embedded ? t.include("partials/_paywall.html") : t.include("partials/_embedframe.html") %>

    <%= t.include("partials/_head.html") %>

  </head>

  <%= !json.project.embedded ? "<body>" : "<body is='responsive-body'>" %>

    <%= t.include("partials/_nav.html") %>

    <div class="top-container">

      <div class="division-background-img">
        <img src="http://ww2.hdnux.com/photos/61/64/55/<%=json.division.main_image[0].WcmID%>/5/2000x0.jpg"></img>
        <div class="header-byline"><%=json.division.main_image[0].Photographer%></div>
      </div>

      <div class="hed-wrapper">
        <h1 class="title"><%=json.division.Headline%></div>
        <h3 class="deck"><%=json.division.Deck%></div>
        <p class="author">By <a href="mailto:kfagan@sfchronicle.com"><%=json.division.Reporter%></a></div>
        <div class="date"><%=json.division.Date%></div>
        <%= t.include("partials/_title_social.html") %>
      </div>

    </div>

    <div class="text">

      <% json.division.text.forEach(function(d,dIDX){ %>
        <% if (d.type == "text") { %>
          <p><%=d.value%></p>
        <% } else if (d.type == "image") { %>
          <div class="story-img <%= d.value[0].Size %>">
            <img src="http://ww2.hdnux.com/photos/61/64/55/<%= d.value[0].WcmID %>/5/2000x0.jpg">
            <div class="caption"><%= d.value[0].Caption %> <span class="photo-byline"> <%= d.value[0].Photographer %></span></div>
          </div>
        <% } %>
      <% }); %>

    </div>

    <div class="map-container">

      <% for (var key in json.division.profiles[0]) { %>

        <% var obj = json.division.profiles[0][key]; %>

        <div class="profile" id="<%=key%>">

          <% obj.forEach(function(d,dIDX) { %>
            <% if (d.type == "Person") { %>
              <div class="name <%=d.value.split(/[, ]+/).pop().toLowerCase()%>"><%= d.value %></div>
            <% } else if (d.type == "Description"){ %>
              <div class="description"><%= d.value %></div>
            <% } else if (d.type == "image"){ %>
              <div class="lead-image">
                <img src="http://ww2.hdnux.com/photos/61/64/55/<%= d.value[0].WcmID %>/5/2000x0.jpg">
                <div class="caption"><%= d.value[0].Caption %> <span class="photo-byline"> <%= d.value[0].Photographer %></span></div>
              </div>
            <% } else if (d.type == "text"){ %>
              <p><%=d.value%></p>
            <% } %>
          <% }); %>
          <div class="map-container">
            <div class="map" id="map<%=key%>"></div>
            <div class="map-annotation" id="map-annotation-<%=key%>"></div>
          </div>

        </div>

      <% }; %>

    </div>

    <div class="text">

      <% json.division.text2.forEach(function(d,dIDX){ %>
        <% if (d.type == "text") { %>
          <p><%=d.value%></p>
        <% } else if (d.type == "image") { %>
          <div class="story-img <%= d.value[0].Size %>">
            <img src="http://ww2.hdnux.com/photos/61/64/55/<%= d.value[0].WcmID %>/5/2000x0.jpg">
            <div class="caption"><%= d.value[0].Caption %> <span class="photo-byline"> <%= d.value[0].Photographer %></span></div>
          </div>
        <% } %>
      <% }); %>

    </div>


    <%= t.include("partials/_footer.html") %>

    <script>
      var mapData = <%= JSON.stringify(json.map) %>
    </script>

    <script>
    // $('#gray').addClass('active');
    console.log("hello");

    var gray_pos = $('#gray').offset().top;
    var smirf_pos = $('#smirf').offset().top;
    var mayweather_pos = $('#mayweather').offset().top; 
    var quinn_pos = $('#quinn').offset().top; 
    var mckinney_pos = $('#mckinney').offset().top; 
    var brownell_pos = $('#brownell').offset().top; 
    console.log("brownell position: " + brownell_pos);

  

    // var element_position = $('#scroll-to').offset().top;

    $(window).on('scroll', function() {
      var curr_pos = window.pageYOffset;
      console.log(curr_pos);
      
      if (curr_pos > gray_pos && curr_pos < smirf_pos) {
        $('#gray').addClass('active');
        $('#smirf').removeClass('active');
      } else if (curr_pos > smirf_pos && curr_pos < mayweather_pos) {
        $('#gray').removeClass('active');
        $('#smirf').addClass('active');
        $('#mayweather').removeClass('active');
      } else if (curr_pos > mayweather_pos && curr_pos < quinn_pos) {
        $('#smirf').removeClass('active');
        $('#mayweather').addClass('active');
        $('#quinn').removeClass('active');
      } else if (curr_pos > quinn_pos && curr_pos < mckinney_pos) {
        $('#mayweather').removeClass('active');
        $('#quinn').addClass('active');
        $('#mckinney').removeClass('active');
      } else if (curr_pos > mckinney_pos && curr_pos < brownell_pos) {
        $('#quinn').removeClass('active');
        $('#mckinney').addClass('active');
        $('#brownell').removeClass('active');
      } else if (curr_pos > brownell_pos) {
        $('#mckinney').removeClass('active');
        $('#brownell').addClass('active');
      }

    
      // var hT = 

      // var y_scroll_pos = window.pageYOffset;
      // var scroll_pos_test = element_position;

      // if(y_scroll_pos > scroll_pos_test) {
      //   console.log(this);
      // }
    });

    </script>

    <script src="app.js" async></script>
    <%= t.include("partials/_helloSFC.html") %>

  </body>
</html>
